<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>안녕하세요</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="Box">
    <div class = "Txt">Hi</div>
    <a href="http://localhost:5001/login"><button class = "LoginBtn">login page</button></a>
  </div>
  </body>
</html>
